<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
	<connectionStrings>
		<add name="SQL_Connection" connectionString="Data Source=211.22.64.113;Initial Catalog=Forest_TreeProtect;Persist Security Info=True;User ID=ift_techjob;Password=ift_techjob;pooling=false" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <!-- 正式站 -->
    <add key="SSO_API_BASE_URL" value="https://sso.iachu.nat.gov.tw" />

    <!-- 測試用 demo server（若有） -->
    <add key="SSO_API_BASE_DEMO" value="https://sso-demo.iachu.nat.gov.tw" />

    <!-- 系統登入憑證 -->
    <add key="APP_PRIVATE_ID" value="你的 APP_PRIVATE_ID" />
    <add key="APP_PRIVATE_PASSWD" value="你的 APP_PRIVATE_PASSWD" />
  </appSettings>
</configuration>