h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
    margin: 0px 0px 30px 0px;
    line-height: 2.25rem;
    text-align: justify;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline
    }

.sp {
    font-size: 1.25rem;
    text-indent: 3rem; /*縮排*/
}

input[type="radio"] {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.rbl, .form-select {
    font-size: 1.25rem;
}

    .rbl label {
        margin-left: 2px;
        margin-right: 15px;
    }

/* 按鈕連結 */
.btn_link {
    display: inline-block;
    background-color: #FFFFFF;
    color: #1D69C4;
    border: 1px solid #1D69C4;
    border-radius: 20px;
    padding: 8px 30px;
    font-size: 1.25rem;
    text-decoration: none;
    transition: transform 0.5s ease, opacity 0.5s linear;
}

    .btn_link:hover {
        background-color: #1D69C4;
        color: #ffffff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transform: translate(2px, 2px);
        text-decoration: none;
    }

/* 聯絡窗口卡片 */
.card_cust {
    border-radius: 5px;
    transition: transform 0.5s ease, opacity 0.5s linear;
}

    .card_cust .card-header {
        background: linear-gradient(90deg,rgba(29, 105, 196, 0.2) 0%, rgba(102, 189, 189, 0.2) 100%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 1.5rem;
        text-align: center;
    }

    .card_cust .card-body {
        font-size: 1.25rem;
        line-height: 30px;
        text-align: center;
    }

    .card_cust:hover {
        /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
        cursor: pointer;
        transform: translate(0px, -5px);        
    }

        .card_cust:hover .card-header {
            font-weight: 500;
            background: linear-gradient(90deg,rgba(29, 105, 196, 0.5) 0%, rgba(102, 189, 189, 0.5) 100%);
        }


/* 區塊標題 */
.blockTitle {
    text-align: center;
    margin: 0px 0px 30px 0px;
}

    .blockTitle span {
        font-size: 1.75rem;
        font-weight: 700;
        padding: 8px 5px;
        border-bottom: 6px solid #1D69C4;
    }

/* 常見問答風琴 */
.accordion-button:not(.collapsed) {
    color: #000000;
    background: linear-gradient(90deg,rgba(29, 105, 196, 0.5) 0%, rgba(102, 189, 189, 0.5) 100%);
}

    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

.accordion-button.collapsed {
    color: #000000;
    background: linear-gradient(90deg,rgba(29, 105, 196, 0.2) 0%, rgba(102, 189, 189, 0.2) 100%);
}

    .accordion-button.collapsed::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

.accordion-body {
    font-size: 1.25rem;
}

.accordion-button {
    font-weight:500;
    font-size: 1.5rem;
    padding: 30px 20px;
}

    .accordion-button:focus {
        box-shadow: none !important;
        border-color: transparent !important;
    }

/* 網站功能磚塊 */
.itemBox {
    display: flex;
    flex-wrap: wrap; /* 允許換行 */
    gap: 20px; /* 項目之間的間距，可以調整 */
    padding: 20px;
}

    .itemBox .item {
        flex: 1 1 calc(25% - 20px); /* 平均分配，扣除 gap */
        min-width: 200px; /* 最小寬度，小於這個寬度就會換行 */
        text-align: center;
        font-size: 1.5rem;
    }

        .itemBox .item div {
            margin: 15px 0px;
        }

        .itemBox .item img {
            width: 40%;
        }

    .itemBox img:hover {
        transition: transform 0.5s ease, opacity 0.5s linear;
        transform: translate(0px,-5px);
    }

/* 連結資源 */
.linkBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*每排2個項目*/
    gap: 20px;
}

.link {
    /*padding: 10px 25px;
    font-size: 1.5rem;
    background: linear-gradient(90deg,rgba(29, 105, 196, 0.2) 0%, rgba(102, 189, 189, 0.2) 100%);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.5s ease, opacity 0.5s linear;*/
    color: #1D69C4;
    padding: 10px 30px;
    border: 10px solid transparent;
    border-radius: 30px;
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg,rgba(29, 105, 196, 0.2) 0%, rgba(102, 189, 189, 0.2) 100%) border-box;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .link img {
        height: 40px;
    }

    .link:hover {
        /*background: linear-gradient(90deg, rgba(102, 189, 189, 0.2) 0%, rgba(29, 105, 196, 0.2) 100%);*/
        transform: translate(0px, -5px);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        text-decoration: none;
    }

    .link span {
        font-size: 1rem;
        color: #808080;
    }


/* 表格 */
.tb {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0px;
}

    .tb tr th {
        background: #f8f9fa;
        padding: 12px 16px;
        text-align: left;
        font-size: 1.25rem;
        color: #333;
        border-bottom: 2px solid #dee2e6;
    }

    .tb tr:first-child {
        /*background: linear-gradient(90deg,rgba(29, 105, 196, 0.5) 0%, rgba(102, 189, 189, 0.5) 100%);*/
    }

    .tb tr td {
        padding: 12px 16px;
        border-bottom: 1px solid #e9ecef;
        color: #555;
        font-size: 1rem;
    }

    .tb tr:hover {
        background: rgba(220,220,220,0.1);
    }

    .tb tr:last-child td {
        border-bottom: none;
    }

/* 範例區塊 */
.exampleBox {
    margin: 0px 30px;
    padding: 30px;
    /*border: 10px solid #dff0f2;*/
    /*background-color: rgba(255,255,255,0.2);*/
    border: 10px solid transparent;
    border-radius: 30px;
    background: 
        linear-gradient(white, white) padding-box, 
        linear-gradient(90deg,rgba(29, 105, 196, 0.2) 0%, rgba(102, 189, 189, 0.2) 100%) border-box;
    font-size: 1.25rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .exampleBox:hover {
        transform: translateY(-5px);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .exampleBox div:first-child {
        font-size: 1.25rem;
        font-weight:500;
        color: #21C4C4;
        text-align: center
    }

    .exampleBox ul li {
        line-height: 28px;
    }

.ul li {
    font-size: 1.25rem;
    line-height: 32px;
}

/* 統計區塊 */
.chartBox {
    background: rgba(255, 255, 255, 0.95);
    border: 10px solid transparent;
    padding:25px;
    border-radius:25px;
    background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(90deg,rgba(29, 105, 196, 0.2) 0%, rgba(102, 189, 189, 0.2) 100%) border-box;
    /*border-radius: 65% 35% 70% 30% / 40% 60% 40% 60%;*/
    margin:100px 0px !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
    .chartBox:hover {
        transform: translateY(-5px);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }