/* === DEFAULT HTML TAG === */

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
    margin: 10px 0px;
}

/* === BUTTON、LINK === */

.btn_link {
    padding: 10px 10px;
    background-color: #FFFFFF;
    color: #c99765;
    border: 1px solid #c99765;
    border-radius: 20px;
    padding: 8px 30px;
    font-size: 1.25rem;
    text-decoration: none;
}

    .btn_link:hover {
        background-color: #c99765;
        color: #ffffff;
        transition: all 0.3s ease;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

/* === CARD === */

.item .card {
    background-color: transparent;
    border: none;
}

    .item .card .card-header {
        background-color: transparent;
        border: none;
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center !important;
        color: #fe9b9b;
        border-bottom: 2px solid #fe9b9b;
        display: none;
    }

    .item .card .card-body {
        background-color: transparent;
        border: none;
        text-align: center;
    }

        .item .card .card-body span {
            display: inline-block;
            margin: 15px 0px;
            font-size: 1.5rem;
        }

    .item .card .card-footer {
        border: none;
        background-color: transparent;
        text-align: center;
    }

/****/
.card_cust {
    border-radius: 10px;
}

    .card_cust .card-header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card_cust .card-body {
        font-size: 1.1rem;
        line-height: 30px;
    }

    .card_cust:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
        cursor: pointer;
        transition: all 0.3s ease;
        transform: translate(-5px, -5px);
    }

    .card_cust .card-header {
        font-weight: 700;
    }