/* === DEFAULT HTML TAG === */

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
    margin: 10px 0px;
}

/* === BUTTON、LINK === */

.btn_link {
    padding: 10px 10px;
    background-color: #FFFFFF;
    color: #c99765;
    border: 1px solid #c99765;
    border-radius: 20px;
    padding: 8px 30px;
    font-size: 1.25rem;
    text-decoration: none;
}

    .btn_link:hover {
        background-color: #c99765;
        color: #ffffff;
        transition: all 0.3s ease;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }