.tabBox {
    display: flex;
    overflow-x: auto;
}

.tab {
    flex: 1;
    min-width: 120px;
    padding: 16px 24px;
    text-align: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    color: #696969;
    border-bottom: 1px solid #E0E0E0;
    font-size: 1.65rem;
    overflow: hidden;
}

    .tab::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background-color: rgba(224, 224, 224, 0.7);
        transform: translateX(-50%);
        opacity: 0; /* 初始透明 */
        transition: width 0.3s ease-out, opacity 0.6s ease-out;
        z-index: 0;
    }

    .tab:hover {
        color: #212529;
        font-weight: 800 !important;
    }

    /* 點擊 → 展開 + 淡入 → 再淡出 */
    .tab.flash::before {
        width: 100%;
        opacity: 1; /* 先亮起 */
    }

    /* 動畫後期淡出（利用更長的 opacity 動畫） */
    .tab.flash.fadeout::before {
        opacity: 0;
    }

    .tab.active {
        border-bottom: 5px solid #c99765;
        background-color: transparent;
    }

        .tab.active span {
            color: #212529;
            font-weight: 700 !important;
        }

    .tab > span {
        position: relative;
        z-index: 1;
    }

.contentBox {
}

.content {
    display: none;
    line-height: 40px;
}

    .content.active {
        display: block;
        padding: 20px 20px;
        min-height: 200px;
    }
